*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 1em;
  margin-top: 6em;
}

section {
  margin-bottom: 3em;
}

/* Styleguide Page Responsiveness */
#styleguide-colors {
  display: flex;
  flex-wrap: wrap;
}

#styleguide-colors div {
  flex: 1;
}

#portfolio-projects {
  display: flex;
  flex-wrap: wrap;

}

#portfolio-projects div {
  flex: 1;
}
