body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .ops-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 25%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 3rem 0.5rem;
  width: 4px;
  height: 4px;
  display: block;
}

@media screen and (min-width: 26.5625rem) {
  .onepage-pagination {
    top: 30%;
  }

  .onepage-pagination li a {
    padding: 3rem 2rem;
  }
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: .1rem;
  height: 6rem;
  background: rgba(255, 255, 255, 0.5);
}

.onepage-pagination li a.active:before{
  width: 0.05rem;
  height: 6.5rem;
  background: none;
  border: 0.12rem solid white;
  margin-top: -4px;
  margin-left: -0.08rem;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
