/* Font imported from Adobe Typekit and Google Fonts */
@import url("https://use.typekit.net/zro5twg.css");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
/* Default font */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white; }

html {
  overflow-y: scroll; }

body {
  background-color: #1d1e22; }

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900; }

code span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900; }

* a {
  text-decoration: none; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 100;
  color: var(--primary-color);
  text-transform: uppercase; }

h3 {
  font-weight: 300;
  color: var(--tertiary-color); }

h4 {
  font-weight: 300;
  color: gray; }

p {
  color: #4f4f64; }

.text-link {
  color: #5c5be0;
  text-decoration: none;
  border-bottom: 0.1rem solid #5c5be0;
  -webkit-transition: all ease-out 0.23s;
  -o-transition: all ease-out 0.23s;
  transition: all ease-out 0.23s; }

.text-link:focus,
.text-link:hover {
  padding-bottom: 0.1rem;
  color: #5c5be0; }

ul {
  color: gray;
  /* line-height: 1.5rem; */ }

ol {
  color: gray;
  line-height: 1.5rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

.card-stack {
  position: relative;
  min-height: 90vh;
  overflow: hidden; }
  .card-stack__item {
    will-change: transform, opacity, box-shadow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    z-index: 1;
    padding: 0 50px;
    color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 60px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 60px;
    -webkit-transform-origin: center 5%;
    -ms-transform-origin: center 5%;
    transform-origin: center 5%;
    overflow: hidden;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    background: #29282e; }

.views-toggle {
  position: absolute;
  top: 25px;
  right: 50px;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  visibility: visible;
  opacity: 0.6; }
  .views-toggle--hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 0; }
  .views-toggle:hover {
    opacity: 1; }

.view-footer {
  display: block; }

.hide-footer {
  display: none; }

.primary-title {
  display: none; }

.home-fragment h2 {
  display: none; }

.home-fragment img {
  padding: 10em 0;
  width: 20%;
  margin: 0 auto;
  display: block; }

.card-stack h2 {
  text-align: center;
  color: #5c5be0; }

.card-stack__item:hover, .card-stack__item:focus {
  border: 1px solid rgba(79, 79, 99, 0.4); }

.card-stack__item {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }

footer {
  text-align: center;
  margin-bottom: 5rem; }

footer i {
  color: #4f4f64;
  font-size: 2rem;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 0 1rem; }

footer i:hover, footer i:focus {
  color: #5c5be0; }

.hidden {
  display: none; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.btn-primary {
  background: #5c5be0;
  color: white; }

.btn-primary:focus, .btn-primary:hover {
  background: #4f4f64;
  color: white;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.btn-secondary {
  border: solid 0.1rem #5c5be0;
  color: black; }

.btn-secondary:focus, .btn-secondary:hover {
  background-color: #5c5be0;
  color: white; }

.btn-tertiary {
  background-color: gray;
  color: white; }

.btn-tertiary:focus, .btn-tertiary:hover {
  background-color: #5c5be0;
  color: white; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  padding: 1em; }

section {
  margin-bottom: 3em; }

/* Styleguide Page Responsiveness */
#styleguide-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#styleguide-colors div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.portfolio-section {
  background-color: #29282e;
  padding: 1em 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 4px 60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 60px;
  margin: 0.5em 0em; }

.portfolio-section h2 {
  color: #5c5be0;
  font-size: 1.6rem; }

.portfolio-section h3 {
  color: #BABAD4;
  font-size: 1.2rem; }

.portfolio-section p {
  font-size: 1rem; }

@media screen and (min-width: 26.5625rem) {
  .portfolio-section {
    padding: 1em 2em; } }

@media screen and (min-width: 37.5rem) {
  .portfolio-section {
    margin: 1em 0em; } }

.portfolio-header {
  margin: 2em; }

.portfolio-header h1 {
  color: #5c5be0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 0; }

.portfolio-header p {
  margin: 0 0 3rem;
  padding: 0; }

.portfolio-header-images {
  text-align: center; }

.portfolio-header img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  margin: 0.5em; }

.ninja-images img:nth-child(2) {
  display: none; }

.ninja-images img:nth-child(3) {
  display: none; }

.ninja-images img:nth-child(4) {
  display: none; }

@media screen and (min-width: 26.5625rem) {
  .portfolio-header img {
    width: 44%; }
  .ninja-images img:nth-child(2) {
    display: inline; }
  .ninja-images img:nth-child(3) {
    display: inline; }
  .ninja-images img:nth-child(4) {
    display: inline; } }

@media screen and (min-width: 37.5rem) {
  .portfolio-header h1 {
    font-size: 2.5rem; } }

@media screen and (min-width: 50rem) {
  .portfolio-header img {
    width: 20%; } }

.portfolio-header img:focus,
.portfolio-header img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.portfolio-project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portfolio-project-description {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.portfolio-project-process {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.portfolio-project-probandscss {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }

.portfolio-project-process img {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1em; }

@media screen and (min-width: 50rem) {
  .portfolio-project-process img {
    width: 60%; } }

@media screen and (min-width: 160rem) {
  .portfolio-project-probandscss {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

#styleguide-colors div {
  color: white;
  padding: 5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto; }

#styleguide-colors div:nth-child(1) {
  background-color: #5c5be0; }

#styleguide-colors div:nth-child(2) {
  background-color: #29282e; }

#styleguide-colors div:nth-child(3) {
  background-color: #1d1e22; }

.card {
  background-color: #1d1e22;
  padding: 1em;
  border-radius: 0.2rem;
  margin: 1em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 13rem;
  max-width: 20rem;
  min-width: 12rem;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

.card h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #5c5be0; }

.card p {
  color: #4f4f64;
  font-size: 0.9rem; }

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.card:focus,
.card:hover {
  background-color: #5c5be0;
  cursor: pointer;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.5); }

.card:focus > p,
.card:hover > p {
  color: #B6B6B6; }

.card:focus > h3,
.card:hover > h3 {
  color: #B6B6B6; }

header {
  top: -1.5em;
  left: -1.5em;
  right: 0;
  margin: 1.5em;
  width: 100%;
  z-index: 999; }

.main-nav a {
  color: white;
  text-decoration: none;
  -webkit-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s; }

.main-nav ul {
  padding: 0;
  list-style: none; }

.styleguide-nav ul {
  padding: 1.4em; }

.main-nav li {
  list-style: none;
  display: block;
  text-align: center; }

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.nav-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4f4f64; }

.back-arrow i {
  color: #4f4f64;
  font-size: 1.5em;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.back-arrow i:focus, .back-arrow i:hover {
  color: #5c5be0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
