/* Font imported from Adobe Typekit and Google Fonts */
@import url("https://use.typekit.net/zro5twg.css");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}

html {
  overflow-y: scroll;
}

body {
  background-color: $tertiaryColor;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}

code span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}

* a {
  text-decoration: none;
}
// Typography //

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 100;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
  color: gray;
}

p {
  color: $quaternaryColor;
}

.text-link {
  color: $primaryColor;
  text-decoration: none;
  border-bottom: 0.1rem solid $primaryColor;
  transition: all ease-out 0.23s;
}

.text-link:focus,
.text-link:hover {
  padding-bottom: 0.1rem;
  color: $primaryColor;
}
// Lists //

ul {
  color: gray;
}

ol {
  color: gray;
  line-height: 1.5rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
