// Color Variables //
$primaryColor: #5c5be0;
$secondaryColor: #29282e;
$tertiaryColor: #1d1e22;
$quaternaryColor: #4f4f64;
$fadeColor: rgba(168, 168, 168, 0.3);

// Media Queries //
$mobileLarge: 26.5625rem; // regular tablet size
$mediumDevice: 37.5rem; // large tablet to small laptop
$largeDevice: 50rem; // medium to large laptop
$xLargeDevice: 160rem; // 4K Device
