// Color Variables //
// $primaryColor: #375fec;
// $secondaryColor: #868686;
// $tertiaryColor: #0f4196;
$primaryColor: #5c5be0;
$secondaryColor: #29282e;
$tertiaryColor: #1d1e22;
$quaternaryColor: #4f4f64;
$fadeColor: rgba(168, 168, 168, 0.3);

// Media Queries //
$mediumDevice: 37.5rem; // large tablet to small laptop
$largeDevice: 50rem; // medium to large laptop
$xLargeDevice: 160rem; // 4K Device
