.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.btn-large {
  // padding: .5rem 4rem;
  padding: 0.5rem 1rem;
  // font-size: 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: $mobileLarge) {
  .btn-large {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: $mediumDevice) {
  .btn-large {
    padding: 0.5rem 3rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: $largeDevice) {
  .btn-large {
    padding: 0.5rem 4rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: $xLargeDevice) {
  .btn-large {
    padding: 0.5rem 2.5rem;
    font-size: 2rem;
  }
}

.btn-primary {
  background: $quaternaryColor;
  color: white;
}

.btn-primary:focus,
.btn-primary:hover {
  background: $primaryColor;
  color: white;
  transform: scale(1.05);
}

.btn-secondary {
  border: solid 0.1rem white;
  color: white;
  font-weight: 100;
  text-transform: capitalize;
  background-color: inherit;
  box-shadow: inset 0 0 0 0 white;
}

.btn-secondary:focus,
.btn-secondary:hover {
  color: $quaternaryColor;
  box-shadow: inset 262px 0 0 0 white;
}

.btn-tertiary {
  background-color: $quaternaryColor;
  color: white;
}

.btn-tertiary:focus,
.btn-tertiary:hover {
  background-color: $primaryColor;
  color: white;
}

.styleguide-container {
  margin: 1em;
}
