@import "buttons";
@import "forms";
@import "grids";

.portfolio-section {
  background-color: $secondaryColor;
  padding: 1em 2em;
  box-shadow: rgba(0, 0, 0, 0.4) 0 4px 60px;
}

.portfolio-header h1 {
  color: $primaryColor;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 0;
}

.portfolio-header p {
  margin: 0 0 3rem 0;
  padding: 0;
}

.portfolio-header img {
  width: 25%;
}



// #portfolio1-header img {
//   width: 100%;
//   display: block;
//   text-align: center;
//   margin: 0 auto;
// }

#portfolio1-process img {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
// STYLEGUIDE STYLING COLORS //

#styleguide-colors div {
  color: white;
  padding: 5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#styleguide-colors div:nth-child(1) {
  background-color: $primaryColor;
}

#styleguide-colors div:nth-child(2) {
  background-color: $secondaryColor;
}

#styleguide-colors div:nth-child(3) {
  background-color: $tertiaryColor;
}
// CARD STYLING //

.card {
  background-color: $tertiaryColor;
  padding: 1em;
  border-radius: 0.2rem;
  margin: 1em;
  flex: 1;
  min-height: 13rem;
  max-width: 20rem;
  min-width: 12rem;
  transition: all ease 0.3s;
}

.card h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $primaryColor;
}

.card p {
  color: $quaternaryColor;
  font-size: 0.9rem;
}

.work {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.card:focus,
.card:hover {
  background-color: $primaryColor;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.5);
}

.card:focus > p,
.card:hover > p {
  color: #B6B6B6;
}

.card:focus > h3,
.card:hover > h3 {
  color: #B6B6B6;
}
