@import "buttons";
@import "forms";
@import "grids";

#portfolio-projects {
  text-align: center;
  width: 50%;
}

#portfolio-projects div {
  padding: 5em;
  margin: 0.3em;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.5);
}

#portfolio-projects h2 {
  color: white;
}
#portfolio-projects p {
  color: white;
}

#portfolio-projects div:nth-child(1) {
  background-color: $primaryColor;
}

#portfolio-projects div:nth-child(2) {
  background-color:$tertiaryColor;
}

#portfolio-projects div:hover, #portfolio-projects div:focus {
  transform: scale(1.1);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#portfolio1-header img {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#portfolio1-process img {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#styleguide-colors div {
  color: white;
  padding: 5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#styleguide-colors div:nth-child(1) {
  background-color: $primaryColor;
}

#styleguide-colors div:nth-child(2) {
  background-color: $secondaryColor;
}

#styleguide-colors div:nth-child(3) {
  background-color: $tertiaryColor;
}
