*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

section {
  margin-bottom: 3em;
}
/* Styleguide Page Responsiveness */
#styleguide-colors {
  display: flex;
  flex-wrap: wrap;
}

#styleguide-colors div {
  flex: 1;
}
